
.home-container {
    text-align: center;
    padding: 20px;
    background-color: aqua;
}

.home-title {
    font-size: 2em;
    color: #333;
}

.home-content {
    font-size: 1.2em;
    color: #666;
}
