
.profile-container {
    padding: 20px;
  
    width: 1500px;
    height: 1000px;
    margin-top: 270px;

  }
  
  .profile-header {
    font-family: 'Times New Roman', serif;
    font-size: 60px;
    margin-bottom: 20px;
    color: white;
 
    
  }
 
  
  .filter-container {
    border: 5px solid black;
    border-radius: 15px;
    padding: 20px;
  }
  
 